:root{
    --color-nombre:
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: content-box;
}

body {
  max-width: 1500px;
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 0px 0px;
    padding: 1rem;
    background-color: chartreuse;
}

.Names {
  display: flex;
  flex-direction: row;
  gap: 0px 0px;
  background-color: blue;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

.Names_name_order{
  display: flex;
  flex-direction: column;
  width: 75%;
}

.Names_Enlaces {
  width: 27rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color:rgb(178, 124, 228);
}

.Names_Enlaces_data {
  padding-top: 0.8rem;
  font-size: 1.2rem;
}

.Names_Imagen_Img{
  width: 30%;
  align-items: center;
  justify-content: center;
  
}

.Names_Imagen {
  border-color: rgb(194, 194, 204);
}

.Names_name {
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
}

.Activity {
  display: flex;
  gap: 0px 0px;
  grid-area: Activity;
  background-color: rgb(219, 214, 214);
  
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

.Activity_title {
  display: grid;
  grid-template-columns: 1.6fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ".";
  grid-area: Activity_title;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Activity_datas {
  display: grid;
  grid-template-columns: 0.5fr 1.8fr 0.9fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Activity_data_items Activity_data_names Activity_data_UX Activity_data_devs";
  grid-area: Activity_datas;
}

.Activity_data_items {
  grid-area: Activity_data_items;
}

.Activity_data_names {
  grid-area: Activity_data_names;
}

.Activity_data_UX {
  grid-area: Activity_data_UX;
}

.Activity_data_devs {
  grid-area: Activity_data_devs;
}

.Totals {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Totals_estado1 Totals_estado2 Totals_estado3 Totals_estado4 Totals_estado5 Totals_estado6";
  grid-area: Totals;
}

.body_choose_banking_data_icon_data_data{
  width: 80%;
  column-gap: 5rem;
  padding: 0px 12px;
}


.Totals_estado1 {
  grid-area: Totals_estado1;
}

.Totals_estado2 {
  grid-area: Totals_estado2;
}

.Totals_estado3 {
  grid-area: Totals_estado3;
}

.Totals_estado4 {
  grid-area: Totals_estado4;
}

.Totals_estado5 {
  grid-area: Totals_estado5;
}

.Totals_estado6 {
  grid-area: Totals_estado6;
}
